@page "/projects/create"
@inject TeaWork.Data.ApplicationDbContext DB
@using TeaWork.Data.Models
@using TeaWork.Logic.Dto
@using TeaWork.Logic.Services
@using TeaWork.Logic.Services.Interfaces
@inject NavigationManager NavigationManager
@inject IProjectService ProjectService
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Project" OnValidSubmit="AddProject" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label>
                <InputText id="title" @bind-Value="Project.Title" class="form-control" />
                <ValidationMessage For="() => Project.Title" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="deadline" class="form-label">Deadline:</label>
                <InputDate id="deadline" @bind-Value="Project.Deadline" class="form-control" />
                <ValidationMessage For="() => Project.Deadline" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label>
                <InputText id="description" @bind-Value="Project.Description" class="form-control" />
                <ValidationMessage For="() => Project.Description" class="text-danger" />
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/projects">Back to List</a>
</div>

@code {

    [SupplyParameterFromForm]
    public ProjectAddDto Project { get; set; } = new();

    // To protect from overposting attacks, see https://aka.ms/RazorPagesCRUD
    public async Task AddProject()
    {
        await ProjectService.Add(Project);
        NavigationManager.NavigateTo("/projects");
    }
}
