@page "/projects"
@using Microsoft.AspNetCore.Components.QuickGrid
@using TeaWork.Data.Models
@using TeaWork.Logic.Services.Interfaces
@using Microsoft.AspNetCore.Authorization
@inject IProjectService ProjectService
@attribute [Authorize]
@inherits LayoutComponentBase


<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="projects/create">Create New</a>
</p>

<QuickGrid Items="Projects">
    <PropertyColumn Property="project => project.Title" />
    <PropertyColumn Property="project => project.StartDate" />
    <PropertyColumn Property="project => project.Deadline" />
    <PropertyColumn Property="project => project.Description" />
    <PropertyColumn Property="project => project.ToDoListId" />
    <PropertyColumn Property="project => project.ProjectConversationId" />

    <TemplateColumn Context="project">
        <a href="@($"projects/edit?id={project.Id}")">Edit</a> |
        <a href="@($"projects/details?id={project.Id}")">Details</a> |
        <a href="@($"projects/designconcept?id={project.Id}")">Design Concept</a> |
        <a href="@($"projects/delete?id={project.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code{

    private List<Project> ProjectsList= new List<Project>();
    IQueryable<Project>? Projects;
    protected async override Task OnInitializedAsync()
    {
        ProjectsList = await ProjectService.GetMyProjects() ;
        Projects = ProjectsList.AsQueryable();
    }

    }