@page "/notifications"
@using TeaWork.Data.Models
@using TeaWork.Logic.Dto
@using TeaWork.Logic.Services
@using TeaWork.Logic.Services.Interfaces
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.AspNetCore.Components.QuickGrid
@inject NavigationManager NavigationManager
@inject INotificationService NotificationService
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>Notifications</PageTitle>

<h3>MyNotification</h3>

<QuickGrid Items="Notifications">
    <PropertyColumn Property="notification => notification.Title" />
    <PropertyColumn Property="notification => notification.Description" />
    <PropertyColumn Property="notification => notification.CreationDate" />
    <PropertyColumn Property="notification => notification.NotificationType" />
    <PropertyColumn Property="notification => notification.Status" />

    <TemplateColumn Context="notification">
        <a href="@($"notifications/details?id={notification.Id}")">Details</a> |
    </TemplateColumn>
</QuickGrid>


@code {
    private List<Notification> NotificationList = new List<Notification>();
    IQueryable<Notification>? Notifications;
    protected async override Task OnInitializedAsync()
    {
        NotificationList = await NotificationService.GetMyAllNotifications();
        Notifications = NotificationList.AsQueryable();
    }
}
